<section class="products">
  <h3>
    Products
  </h3>

  <section class="products_container">
    <% @products.each do |product| %>
    <div class="products_container_item">
      <%= link_to product, class: "products_container_item_link" do %>
        <%= image_tag product.image.url, class: "products_container_item_link_image" %>
        <p>
          <%= product.title %>
        </p>
        <p>
          $<%= product.price %>
        </p>
      <% end %>
    </div>
    <% end %>
  </section>
</section>
